@model List<Contact>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@*burada blogların admin tarafından detaylarının goruntulenmesını sagladık*@
@*required eklendi yani tamam dese bile bu alanlar dolmadan ıslem olmayacaktır*@
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Iletisimler</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> Rapor Olustur
    </a>
</div>

@foreach (var item in Model)
{
    <!-- Basic Card Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@item.Name - @item.Email - @item.CreatedAt</h6>
        </div>
        <div class="card-body">
            @item.Message
        </div>
    </div>
}
